<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>armod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ModuleIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>com.macsemantics.argon.module</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Argon Module File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ARGM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macsemantics.argon.module</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).ModuleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>arpro</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ProjectIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>com.macsemantics.argon.project</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Argon Project File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.macsemantics.argon.project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).ProjectDocument</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Argon Project File</string>
			<key>UTTypeIconFile</key>
			<string>ProjectIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.macsemantics.argon.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>arpro</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>com.macsemantics.argon.project</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Argon Module File</string>
			<key>UTTypeIconFile</key>
			<string>ModuleIcon</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.macsemantics.argon.module</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>armod</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>com.macsemantics.argon.module</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
